# src/config/models.toml

# ==========================================
# MODELO 1: Phenotype_Effect_Outcome
# ==========================================
[Phenotype_Effect_Outcome]
targets = ["Phenotype_outcome", "Effect_direction", "Effect_type"]
features = ["Drug", "Genalle", "Gene", "Allele"]
cols_to_load = [
    "Drug",
    "Genalle",
    "Gene",
    "Allele",
    "Phenotype_outcome",
    "Effect_direction",
    "Effect_type",
]

[Phenotype_Effect_Outcome.params]
# Sobreescrituras específicas
embedding_dim = 256
n_layers = 2
hidden_dim = 2176
dropout_rate = 0.68
learning_rate = 2e-4
batch_size = 64
optimizer_type = "rmsprop"
use_batch_norm = true
use_layer_norm = true
manual_task_weights = true
# Parámetros de arquitectura extendida
attention_dim_feedforward = 3840
attention_dropout = 0.48
num_attention_layers = 2
focal_gamma = 1.16
focal_alpha_weight = 1.34
fm_hidden_layers = 2
fm_hidden_dim = 384

[Phenotype_Effect_Outcome.optuna]
# Espacio de búsqueda
embedding_dim = [128, 256, 384, 512]
n_layers = ["int", 2, 8, 1]
hidden_dim = ["int", 512, 4096, 128]
learning_rate = [1e-5, 1e-3]
dropout_rate = [0.1, 0.7]
optimizer_type = ["adamw", "adam", "rmsprop"]


# ==========================================
# MODELO 2: Features-Phenotype
# ==========================================
[Features-Phenotype]
targets = ["Phenotype_outcome"]
features = ["atc", "Genalle", "Gene", "Allele"]
stratify_col = "Phenotype_outcome"
cols_to_load = ["Drug", "Genalle", "Gene", "Allele", "Phenotype_outcome", "atc"]

[Features-Phenotype.params]
batch_size = 512
embedding_dim = 192
n_layers = 1
hidden_dim = 1024
dropout_rate = 0.7
learning_rate = 1e-4

[Features-Phenotype.weights]
phenotype_outcome = 1.0

[Features-Phenotype.optuna]
embedding_dim = [128, 256, 512]
n_layers = ["int", 1, 4, 1]
