*.pth filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.ph filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
/pgen_model/models/pmodel_out-eff-eff-eff.pth filter=lfs diff=lfs merge=lfs -text
